<div class="layout">
	<header>
		<div class="abs_menu">
			<div class="search">
				<form class="searching">
					<input type="search" class="query" value="" placeholder="Search">
					<button type="submit" class="query_button"></button>
				</form>
			</div>

			<div class="menu">
				<ul class="main_menu">
					<li><a href="">Новости</a></li>
					<li><a href="">Блабла</a></li>
					<li><a href="">Портфолио</a></li>
					<li><a href="">Контакты</a></li>
				</ul>
			</div>
		</div>
	</header>
	<div class="content">
	</div>
	<footer>
		<div>
		</div>
	</footer>
</div>
